@charset "UTF-8";
/**
 * @authors \alihanniba\
 * @email   \alihanniba@gmail.com\
 * @date    2016-01-05 20:17:42
 * @version \alihanniba\
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html,body{
    min-width: 1200px;
}

header{
    background: url(../img/bg@2x.png);
    background-size: 100% 100%;
    height: 625px;
    width: 100%;
    display: inline-block;
}
#quotation{
    height: 68px;
    background:rgba(96,90,90,.39);
    border-bottom: 1px solid #979797;
    line-height: 68px;
    padding-left: 68px;
    font-size: 24px;
    color: #6ac6f7;
}
#moddle_photo{
    height: 328px;
    width: 100%;
    display: inline-block;
}
#moddle_photo img{
    height: 235px;
    width: 235px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    margin-top: 48.5px;
}
#button_area{
    height: 225px;
    width: 100%;
    background: rgba(75,76,80,.53);
    display: inline-block;
}
#two_button{
    height: 116px;
    width: 582px;
    margin: 0 auto;
    margin-top: 56.5px;
    display: block;

}
#two_button button{
    height: 116px;
    width: 213px;
    outline: none;
    border-radius: 8px;
    background: rgba(75,76,80,.53);
    border:1px solid #979797;
    font-size: 48px;
    color: #46433c;
}
#two_button button:hover{
    color: #6ac6f7;
    border:1px solid #6ac6f7;
    cursor: pointer;
}
#two_button button:nth-child(1){
    float: left;
}
#two_button button:nth-child(2){
    float: right;
}
.about_me{
    height: 490px;
    width: 100%;
    color: #fff;
    display: inline-block;
}
.about_me .info_about_me{
    height: 80px;
    width: 300px;
    display: block;
    margin:0 auto;
    margin-top: 46px;
}
.about_me .signed{
    height: 44px;
    width: 584px;
    margin: 0 auto ;
    margin-top: 15px;
}
.about_me .signed img:nth-child(1),
.about_me .signed img:nth-child(3){
    height: 5px;
    width: 149px;
    margin-top: 19.5px;
}
.about_me .signed img:nth-child(1){
    float: left;
}
.about_me .signed img:nth-child(2){
    margin: 0 auto;
    height: 44px;
    width: 206px;
    margin-left: 40px;
}
.about_me .signed img:nth-child(3){
    float: right;
}
.about_me .description{
    height: 44px;
    width: 100%;
    font-size: 36px;
    line-height: 44px;
    color: #050505;
    text-align: center;
    margin-top: 25px;
}
.about_me .social_platform{
    height: 100px;
    width: 424px;
    margin:0 auto;
    margin-top: 50px;
}
.about_me .social_platform img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-right: 58px;
}
.about_me .social_platform img:nth-child(3){
    margin-right: 0px;
}
.my_skills{
    background: #c2c2c2;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
}
.my_skills .all_skills{
    width: 1150px;
    height: 216px;
    margin: 0 auto;
    margin-top: 38px;
}
.my_skills .all_skills div{
    height: 216px;
    width: 145px;
    margin-right: 52px;
    display: inline-block;
}
.my_skills .all_skills div:nth-child(6){
    margin-right: 0;
}
.my_skills .all_skills div img{
    height: 145px;
    width: 145px;
}
.my_skills .all_skills div p{
    width: 100%;
    height: 28px;
    margin-top: 43px;
    font-size: 24px;
    line-height: 28px;
    color: #050505;
    text-align: center;
}
.my_works{
    height: 240px;
}
.swiper-container {
    width: 100%;
    height: 600px;
    background: #000;
}
.swiper-slide {
    font-size: 18px;
    color:#fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
}
.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-image:url(../img/dancer.jpg);
    -webkit-filter: blur(5px);
}
.swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
}
.swiper-slide .subtitle {
    font-size: 21px;
    margin-top: 20px;
}
.swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
    margin-top: 10px;
}
.contact_me{
    background: url(../img/contact.png) repeat;
}
#contact_me_info{
    height: 200px;
    width: 500px;
    margin-left: 68px;
    margin-top: 20px;
}
#contact_me_info p{
    height: 32px;
    line-height: 32px;
    font-size: 20px;
    color: #000;
}
#contact_me_info p span{
    width: 100px;
    height: 100%;
    display: inline-block;
    text-align: left;
    margin-right: 50px;
}
#contact_me_info p a{
    margin-left: 50px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#alihanniba{
    width: 100%;
    height: 50px;
    color: #000;
    font-size: 32px;
    text-align: center;
    line-height: 50px;
}



